html {
    min-height: 100%;
    position:relative;
}

body {
    background: #30475e;
    height: 100%;
} 


#username {
    padding: 10px;
    color: #30475e;
    position: relative;
    padding: none;
    text-align: center;
}


#name {
    position: relative;
    color: #30475e;
    padding: 20px;
    text-align: center;
    top: -40px;
}

.my-information {
    position: absolute;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    background-color: #f3f3f3; 
    box-shadow: 0px 0px 20px #222831;
    width:100%;
    height: 100vh;
}

.my-information #aboutme {
    padding-left: 2px;
}

.my-information #about {
    padding-left: 5px;
    list-style: none;
}




.my-profile {
    margin:none;
}


.skills {
    position: absolute;
    margin: 0px;
    padding: 0px;
    color:#f3f3f3;
    background-color: #222831; 
    width:100%;
    height: 100vh;
    align-items: center;
}

.skills #skills-title {
    padding-top: 40px;
    color: #f05454;
    position: relative;
    padding: none;
    text-align: center;
    top: -30px;
}

.skills #title {
    text-align: center;
    padding:none;
}

.skills ul {
    position: absolute;
    list-style: none;
    padding:none;
}

.skills #row1{
    position: relative;
    padding: none;
    padding-bottom: 20px;
}

.skills #row2 {
    position: relative;
    align-items: center;
    padding: none;
    padding-bottom: 20px;
}

.skills #row3 {
    position: relative;
    align-items: center;
    padding: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

.skills li {
    position: relative;
    padding: 0px;
}

.skills img {
    filter:invert(100%);
    padding: none;
}




.projects {
    position: absolute;
    margin: 0px;
    padding: 20px;
    background-color: #f3f3f3; 
    width:100%;
    height: 100vh;
}

.projects #projects-title {
    padding: 20px;
    color: #30475e;
    position: relative;
    padding: none;
    text-align: center;
    top: -30px;
}







.contact {
    position: absolute;
    margin: 0px;
    padding: 20px;
    background-color: #222831; 
    width:100%;
    height: 100vh;
}

.contact #contact-title {
    padding: 20px;
    color: #f05454;
    position: relative;
    padding: none;
    text-align: center;
    top: -30px;
}